@font-face {
    font-family: 'Alliance Platt';
    src: url('../fonts/Alliance-PlattLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Alliance Platt';
    src: url('../fonts/Alliance-PlattMedium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Alliance Platt';
    src: url('../fonts/Alliance-PlattRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Alliance Platt';
    src: url('../fonts/Alliance-PlattExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Alliance Mono';
    src: url('../fonts/Alliance-Mono.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Alliance Platt';
    src: url('../fonts/Alliance-PlattSemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Alliance Platt';
    src: url('../fonts/Alliance-PlattBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Alliance Platt';
    src: url('../fonts/Alliance-PlattBlack.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -10;
  height: auto;
  overflow: scroll;
  pointer-events: none;
}

.container {
  height: 20000vh;
  z-index: -4;
  overflow: scroll;
}

.canvascont {
  height: 20000vh;
  z-index: 4;
  overflow: scroll;
}

#c {
  width: 100vw;
  height: auto;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -2;
  overflow: scroll;
}

#content {
  font-family: 'Alliance Platt';
  font-weight: 600;
  font-style: normal;
  width: 100%;
  height: auto;
}

#text {
  width: 100%;
  margin: 0 auto;
  color: #eaeaea;
}

h1 {
  color: #eaeaea;
  text-align: center;
  padding: 40px 0;
  font-weight: 800;
  font-size: 3em;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  font-family: "Alliance Platt";
}

.ml16 .letter {
  display: inline-block;
  line-height: 1em;
  color: #eaeaea;
}

.ml2 {
  font-weight: 900;
  font-size: 1.7em;
}

.ml2 .letter {
  display: inline-block;
  line-height: 2em;
}

h2{
  font-size: 6vw;
  font-weight:bolder;
  text-align: center;
  width: 70%;
  margin: 120vh auto 20vh;
}

h3 {
  font-size: 3.5vw;
  font-weight: normal;
  text-align: left;
  width: 70%;
  margin: 85vh auto 20vh;
}

h4 {
  font-size: 4vw;
  font-weight: normal;
  width: 80%;
}

p {
  font-size: 2vw;
  font-weight: 500;
  width: 80vw;
}

#subtitle{
  margin: 115vh auto 30vh;
  color: #eaeaea;
}

#important{
  text-align: center;
  font-size: 8vw;
  margin: -8vh auto 0;
  opacity:0;
  width: 100vw;
}

#principles{
  margin: 70vh auto 10vh;
  width: 80vw;
}

.point{
  opacity: 0;
  font-weight: 500;
}

.left {
  text-align: left;
  width: 80%;
  margin: 20vh auto 20vh;
}

.question{
  margin-top: -10vh;
  font-size: 4vw;
  width: 80vw;
}


#next{
  bottom: 5vh;
  z-index: 1000;
  height: 100px;
  width: 100px;
  position: absolute;
  left: 48%;
  margin-left: -50px;
  top: 90%;
  opacity: 0;
  font-family: "Alliance Platt";
  font-weight: 600;
  color:#eaeaea;
  text-decoration: underline;
}
