@font-face {
    font-family: 'Alliance Platt';
    src: url('Alliance-PlattLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Alliance Platt';
    src: url('Alliance-PlattMedium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Alliance Platt';
    src: url('Alliance-PlattRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Alliance Platt';
    src: url('Alliance-PlattExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Alliance Mono';
    src: url('Alliance-Mono.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Alliance Platt';
    src: url('Alliance-PlattSemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Alliance Platt';
    src: url('Alliance-PlattBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Alliance Platt';
    src: url('Alliance-PlattBlack.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

